.register {
    font-family: 'Lora', serif;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  
    url(https://static.vecteezy.com/system/resources/thumbnails/002/160/861/small/detail-wood-texture-background-free-vector.jpg);
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.registerForm > label{
    margin: 10px 0;
    font-weight: 600;
}
.registerInput{
    padding: 10px 40px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(164, 242, 10);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: green;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
